[Desktop Entry]
Type=Application
Name=Deshader
Comment=GLSL Shader Debugging Toolkit
Categories=Development
MimeType=application/x-elf
Exec=/usr/bin/deshader-run %F
StartupWMClass=deshader
Icon=deshader
Keywords=deshader;glsl;shader;debug